<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
          <%= image_tag("Counselling.jpg", class:"card-img-top mb-img-height-100", style:"height: 450px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Clinical Counselling Services</p>
          <p class="show-font black-with-dots">
            Many factors can affect an individual’s ability and confidence to maintain or return to meaningful work after experiencing physical and/or mental health concerns. We can provide each client with holistic support services that recognize the connection between physical health and mental wellness.
            Re:Function offers clinical counselling services that can help clients explore, reduce or eliminate the barriers they may be experiencing to achieving their career and life goals.  Together with a Registered Clinical Counsellor (R.C.C.), clients can thoroughly explore their thoughts and process emotions in order to better identify their needs and ultimately, make the behavioural changes they need to move forward with confidence.  Each counselling session is 50 minutes long.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
