<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<div class="bread-crumb-border mb-dp-none">
  <div class="container">
    <div class="row">
      <div class="bread-crumb col-sm-12">
        Home / Services / Functional Capacity Evaluations
      </div>
    </div>
  </div>
</div>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li><a href="/functional_evaluation">Functional Capacity Evaluations</a></li>
              <li><a href="/cost_of_future_care">Cost of Future Care Evaluations</a></li>
              <li><a href="/medical_legal_consultation">Medical Legal Consultations</a></li>
              <li><a href="/community_rehabilitation">Community Rehabilitation Services</a></li>
              <li><a href="/physiotherapy">Physiotherapy Services</a></li>
              <li><a href="/functional_conditioning">Active & Functional Conditioning Programs</a></li>
              <li><a href="/interdisciplinary_rehabilitation">Interdisciplinary Rehabilitation Assessments</a></li>
              <li><a href="job_demands_analyses">Job Demands Analyses</a></li>
              <li><a href="ergononmic_risk_factor_analyses">Ergonomic and Risk Factor Analyses</a></li>
              <li><a href="#">Visit the Services Page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Cost of Future Care.jpg", class:"card-img-top", style:"height: 400px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Cost of Future Care Evaluations</p>
          <p class="show-font">
            Customized evaluation processes are designed to examine the client’s demands and functions relevant to his or her disability. Functional testing in the home environment is completed to specifically analyze any need for replacement services.
            <br/>
            <br/>

            Re:Function’s evaluators have expertise to provide services for clients with catastrophic injuries as follows:
            <ul class="black-with-dots">
              <li>
                - Spinal cord injuries
              </li>
              <li>
                - Brain injuries
              </li>
              <li>
                - Amputations
              </li>
              <li>
                - Vision injuries
              </li>
              <li>
                - Complex regional pain syndromes
              </li>
              <li>
                - Complex psychological reactions
              </li>
              <li>
                - Paediatric injuries
              </li>
              <li>
                - Complex orthopaedic injuries requiring joint replacements
              </li>
            </ul>

            <br/>
            <br/>
            Cost of Future Care Evaluations may be completed as an independent evaluation or in conjunction with a Functional Capacity Evaluation to optimize breadth of opinion while capitalizing efficiency and cost effectiveness.


          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
