<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>




<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
          <%= image_tag("Cost of Future Care.jpg", class:"card-img-top mb-img-height-100", style:"height: 450px;") %>
          <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Cost of Future Care Evaluations</p>
          <p class="show-font">
            Customized evaluation processes are designed to examine the client’s demands and functions relevant to his or her disability. Functional testing in the home environment is completed to specifically analyze any need for replacement services.
            <br/>
            <br/>

            Re:Function’s evaluators have expertise to provide services for clients with catastrophic injuries as follows:
            <ul class="black-with-dots">
              <li>
                - Spinal cord injuries
              </li>
              <li>
                - Brain injuries
              </li>
              <li>
                - Amputations
              </li>
              <li>
                - Vision injuries
              </li>
              <li>
                - Complex regional pain syndromes
              </li>
              <li>
                - Complex psychological reactions
              </li>
              <li>
                - Paediatric injuries
              </li>
              <li>
                - Complex orthopaedic injuries requiring joint replacements
              </li>
            </ul>

            <br/>
            <br/>
            Cost of Future Care Evaluations may be completed as an independent evaluation or in conjunction with a Functional Capacity Evaluation to optimize breadth of opinion while capitalizing efficiency and cost effectiveness.


          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
