<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Ergonomic and Risk Factor Analysess.jpg", class:"card-img-top", style:"height: 400px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Ergonomic and Risk Factor Analyses</p>
          <p class="show-font black-with-dots">
            These analyses examine the work procedures and physical environments of particular jobs to determine whether thresholds for risk factors known to develop musculoskeletal disorders has reached or exceeded. Reports for these analyses include recommendations for ergonomic solutions to optimize comfort and function while working.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
