<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>


<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Active and Functional Conditioning.jpg", class:"card-img-top", style:"height: 400px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Active & Functional Conditioning Programs</p>
          <p class="show-font black-with-dots">
            These Kinesiology based customized exercise programs are intended for clients that are ready for a more intensive and structured active conditioning program i.e., they have completed Physiotherapy or other treatment are ready to participate in a two hour gym/work simulation routine, three to five days a week.
            <br>
            <br>
            Each customized exercise based program includes serial functional testing, specific exercise prescription, relevant work simulation tasks, and return to work assistance, as needed.
            Initial assessment, progress, and discharge reports will be provided, as required. The initial assessment report will outline the customized treatment plan.


          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
