<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services main-card-padding">
  <div class="container">
    <div class="row justify-content-between ">
      <div class=" col-md-12 col-lg-3 mb-margin-top-40" style="margin-bottom: 20px;">
        <div class="list_of_services_box mb-mg-bottom">
          <h5>Learn about our services</h5>
          <div class="highlight"></div>
          <ul>
            <% @services.each do |f| %>
            <li><%= link_to "#{f.title}", service_path(f) %></li>
            <% end %>
            <!-- <li><a href="/functional_evaluation">Functional Capacity Evaluations</a></li>
            <li><a href="/cost_of_future_care">Cost of Future Care Evaluations</a></li>
            <li><a href="/medical_legal_consultation">Medical Legal Consultations</a></li>
            <li><a href="/community_rehabilitation">Community Rehabilitation Services</a></li>
            <li><a href="/physiotherapy">Physiotherapy Services</a></li>
            <li><a href="/functional_conditioning">Active & Functional Conditioning Programs</a></li>
            <li><a href="/interdisciplinary_rehabilitation">Interdisciplinary Rehabilitation Assessments</a></li>
            <li><a href="job_demands_analyses">Job Demands Analyses</a></li>
            <li><a href="ergononmic_risk_factor_analyses">Ergonomic and Risk Factor Analyses</a></li>
            <li><a href="clinical_counselling_services">Clinical Counselling Services</a></li> -->

          </ul>
        </div>
      </div>

      <div class="col-md-12 col-lg-9">
        <div class="row">
          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Physiotherapy_services.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/physiotherapy"><p class="services-card-font">Physiotherapy</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("community rehabilitation_v2.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/community_rehabilitation"><p class="services-card-font">Community Rehabilitation Services</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Counselling.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/clinical_counselling_services"><p class="services-card-font">Clinical Counselling Services</p></a>
            </div>
          </div>


          <div class="col-12 col-sm-6 card-side-padding mb-mg-bottom">
            <%= image_tag("Services - Functional Capacity Evaluations.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div>
              <a href="/functional_evaluation"><p class="services-card-font">Functional Capacity Evaluations</p></a>
            </div>
          </div>



          <div class="col-12 col-sm-6 card-side-padding mb-mg-bottom">
            <%= image_tag("Cost of Future Care.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div>
              <a href="/cost_of_future_care"><p class="services-card-font">Cost of Future Care Evaluation</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Medical Legal Consultations.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/medical_legal_consultation"><p class="services-card-font">Medical Legal Consultations</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Active and Functional Conditioning.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px; height: 100%;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/functional_conditioning"><p class="services-card-font">Active and Functional Conditioning</p></a>
            </div>
          </div>

          <!-- <div class="col-12 col-sm-6 card-side-padding">
            <#%= image_tag("Community Rehabilitation.jpg", class:"card-img-top", style:"max-height:200px;") %>
            <div >
              <a href="/community_rehabilitation"><p class="services-card-font">Community Rehabilitation</p></a>
            </div>
          </div> -->

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Interdisciplinary Rehabilitation Assessments.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px; height: 200px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/interdisciplinary_rehabilitation"><p class="services-card-font">Interdisciplinary Rehabilitation Assessments</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Job Demands Analysis.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/job_demands_analyses"><p class="services-card-font">Job Demand Analyses</p></a>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("Ergonomic and Risk Factor Analysess.jpg", class:"card-img-top", style:"max-height:200px; max-width: 300px;") %>
            <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
            <div >
              <a href="/ergononmic_risk_factor_analyses"><p class="services-card-font">Ergonomic and Risk Factor Analyses</p></a>
            </div>
          </div>


        </div>

        <!-- <div class="row">
          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>
        </div> -->

        <!-- <div class="row">
          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 card-side-padding">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <p class="services-card-font">Balanced Disability Assessment</p>
            </div>
          </div>
        </div> -->

      </div>


    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
