<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>


<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li>Community Rehabilitation Services</li>
              <li>Physiotherapy Services</li>
              <li>Actve & Functional Conditioning Programs</li>
              <li>Psychology Assessment & Counselling Services</li>
              <li>Interdisciplinary Rehabilitation Assessments</li>
              <li>Functional Capacity Evaluations</li>
              <li>Cost of Future Care Evaluations</li>
              <li>Medical Legal Consultations</li>
              <li>Job Demand Analyses</li>
              <li>Ergonomic and Risk Factor Analyses</li>
              <li>Brain Injury Assessment and Treatment</li>
              <li>Return to Work Support</li>
              <li><a href="#">Visit the Services Page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>

          <div class="col-sm-4">
            <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
            <div >
              <h5 style="color: black">Balanced Disability</h5>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
