<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Interdisciplinary Rehabilitation Assessments.jpg", class:"card-img-top", style:"height: 400px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Interdisciplinary Rehabilitation Assessments</p>
          <p class="show-font black-with-dots">
            This assessment involves a functional testing screen conducted by an Occupational Therapist, a physical impairment assessment conducted by a Physical Therapist, and a psychological impairment screen conducted by a Psychologist.  An interdisciplinary report is generated to provide current impairment and functional status, identify functional gaps as they relate to a job target, and outline a rehabilitation plan to move the client forward towards a return to work endeavour.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
