<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
          <%= image_tag("Job Demands Analysis.jpg", class:"card-img-top mb-img-height-100", style:"height: 450px;") %>
          <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Job Demand Analyses</p>
          <p class="show-font black-with-dots">
            Job Demands Analyses document the physical and/or cognitive demands of the job being analysed. The process includes attending work sites to interview relevant workers and supervisors regarding the critical physical and cognitive demands of the job, observing the worker(s) perform the job, and where possible, taking objective measures of the physical job demands. Photos and video may be taken of the job performed, where permissible, and may be included in the report.
            <br>
            <br>
            This process is helpful to understand specific physical and/or cognitive job demands performed in specific work environments; this information may be used by stakeholders for claims management purposes. I.e., return to work.


          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
