<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>




<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
          <%= image_tag("Medical Legal Consultations.jpg", class:"card-img-top mb-img-height-100", style:"height: 450px;") %>
          <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Medical Legal Consultations</p>
          <p class="show-font">
            Re:Function’s Certified Work Capacity Evaluators have advanced credentials and experience to enable them to review expert reports and to provide feedback necessary to assist a stakeholder’s understanding of complex and technical functional assessment data.
            <br/>
            <br/>
            Medical Legal Consultations can provide feedback to assist stakeholders to best examine their risk in terms of quantum costs of a particular litigation. Furthermore, these consultations can provide guidance and/or preparation of specific questioning for cross-examination purposes, or to provide rebuttal response opinion reports.


          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
