<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <<%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Physiotherapy_services.jpg", class:"card-img-top", style:"height: 400px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Physiotherapy Services</p>
          <p class="show-font black-with-dots">
            Assessment and treatment sessions are of at least 30 minute durations to allow the treating therapist to ensure the client has maximum benefit for recovery during his or her visit. Private treatment rooms and spacious gymnasiums allow for optimal impairment recovery through a combination of treatment and targeted exercise prescription.
            <br>
            <br>
            The goal of all client’s treatment experience is to have them habituating to exercise by participating in kinesiology supervised exercises during each treatment session. This well researched approach allows clients to turn therapeutic corners.
            <br>
            <br>
            Treatments offered by our qualified Physiotherapists include Shockwave Therapy, Manual Therapy, Dry Needling, Soft Tissue Mobilization, Spinal Traction/Decompression, and Injury/Function Specific Exercise Therapy.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
