<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>




<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("Counselling.jpg", class:"card-img-top", style:"height: 450px;") %>
        </div>
        <div class="row black-with-dots">
          <p class="show-header">Psychology Assessment & Counselling Services</p>
          <p class="show-font">
            Psychology services include clinic based or video conferencing sessions. By applying mindfulness, cognitive and body centered practices, psychology services aim to help clients identify and work through the barriers interfering with the client’s goals.
            <br>
            <br>
            Psychology services are also integrated with the Re:Function Community and clinic based Rehabilitation Teams and work collaboratively together to assist clients in achieving functional restoration goals and return to work endeavours.

          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
