<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>


<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li>Community Rehabilitation Services</li>
              <li>Physiotherapy Services</li>
              <li>Actve & Functional Conditioning Programs</li>
              <li>Psychology Assessment & Counselling Services</li>
              <li>Interdisciplinary Rehabilitation Assessments</li>
              <li>Functional Capacity Evaluations</li>
              <li>Cost of Future Care Evaluations</li>
              <li>Medical Legal Consultations</li>
              <li>Job Demand Analyses</li>
              <li>Ergonomic and Risk Factor Analyses</li>
              <li>Brain Injury Assessment and Treatment</li>
              <li>Return to Work Support</li>
              <li><a href="#">Visit the Services Page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <%= image_tag("refunction_home_services.png", class:"card-img-top") %>
        </div>
        <div class="row">
          <p class="show-header">Brain Injury Assessment and Treatment</p>
          <p class="show-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum massa vel enim feugiat gravida. Phasellus velit
            risus, euismod a lacus et, maCs condimentum augue. Vivamus fermentum ex quis imperdiet sodales. Sed aliquam nibh tellus,
            a rutrum turpis pellentesque ac. Nulla nibh libero, :ncidunt cursus gravida ut, sodales ut magna. Sed sodales libero sapien,
            et rutrum mi placerat eget. Nulla ves:bulum lacus vel eros eleifend moles:e. Cras dapibus ullamcorper dictum. Vivamus nec erat
            placerat felis scelerisque porCtor in ac turpis. In nec imperdiet turpis. Suspendisse quis orci ut orci pulvinar eleifend. Nulla eu
            maCs ipsum. Integer eget sagiCs nulla. Praesent consectetur lacus et maximus eleifend. Integer non lacus dui. Mauris tortor,
            laoreet quis commodo vitae, sodales vel augue.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
