<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
            <%= image_tag @service.picture.url, class:"img-fluid" ,style:"height: 450px;"%>
          <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
        </div>
          <p class="show-header"><%= @service.title %></p>
          <p style="color: black;">
            <%= raw(@service.content) %>
          </p>

          <div class="row padding-top-50">
            <%= link_to "Back to Services", services_path, class:"cta-see-team"%>
          </div>

      </div>


    </div>
  </div>
</div>


<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
