<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>



<div class="our_services pages-card-padding">
  <div class="container">
    <div class="row">

      <%= render 'link' %>

      <div class="offset-sm-1 col-sm-8">
        <div class="row mb-padding-top-15">
            <%= image_tag @service.picture.url, class:"img-fluid services-show" %>
          <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
        </div>
          <p class="show-header"><%= @service.title %></p>
          <p style="color: black;">
            <%= raw(@service.content) %>
          </p>

          <div class="row padding-top-50">
            <%= link_to "Back to Services", services_path, class:"cta-see-team"%>
          </div>

      </div>


    </div>
  </div>
</div>


<%= render "layouts/bottom_cta_card" %>

<div class="footer main-card-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5 class="bold">Contact Information</h5>
        <div class="highlight-small"></div>
        <ul>
          <li><a href="https://www.google.com/maps/place/21300+Gordon+Way,+Richmond,+BC+V6W+1J8/@49.166436,-122.987695,16z/data=!4m5!3m4!1s0x5485df362b3f5cb1:0x28e783c3398af216!8m2!3d49.1664355!4d-122.9876951?hl=en-CA", style="color: gray">148 – 21300 Gordon Way Richmond BC V6W 1M2</a></li>

          <li><a href="tel:+1604-233-2210" style="color: gray">Tel: 604.233.2210</a></li>
          <li><a href="tel:+1604-233-2211" style="color: gray">Fax: 604.233.2211</a></li>
          <li><a href="mailto:info@refunction.ca" style="color: gray">Email: info@refunction.ca</a></li>
        </ul>
      </div>
      <!-- <div class="col-sm-3">
        <h5 class="bold">Doctors</h5>
        <div class="highlight-small"></div>
        <ul>
          <li><span class="dot"></span>Dr. Nick Sims</li>
          <li><span class="dot"></span>Dr. Max Tuner</li>
          <li><span class="dot"></span>Dr. Amy Adams</li>
          <li><span class="dot"></span>Dr. Nick Sims</li>
          <li><span class="dot"></span>Dr. Max Tuner</li>
          <li><span class="dot"></span>Dr. Amy Adams</li>
        </ul>
      </div> -->
      <div class="col-sm-3 mb-margin-top-25">
        <h5 class="bold">Locations</h5>
        <div class="highlight-small"></div>
        <ul>
          <li><span class="dot"></span><a href="/contacts" style="color: grey">Richmond: Head Office</a></li>
          <li><span class="dot"></span><a href="/surrey" style="color: grey">Surrey Clinic</a></li>
          <li><span class="dot"></span><a href="/vancouver" style="color: grey">Vancouver Clinic</a></li>
          <li><span class="dot"></span><a href="/coquitlam" style="color: grey">Coquitlam Clinic</a></li>
          <li><span class="dot"></span><a href="/abbotsford" style="color: grey">Abbotsford Clinic</a></li>
          <li><span class="dot"></span><a href="/victoria" style="color: grey">Victoria Clinic</a></li>
          <li><span class="dot"></span><a href="/nanaimo" style="color: grey">Nanaimo Clinic</a></li>
        </ul>
      </div>
      <div class="col-sm-6  col-xl-6 col-lg-12 mb-margin-top-25">
        <%= form_for(@admin_enquiry) do |f| %>
        <h5 class="bold">Contact Us</h5>
        <div class="highlight-small"></div>

          <%= f.text_field :first_name, class:"form-control text-area-box", placeholder: "Name" %>


          <%= f.text_field :email, class:"form-control text-area-box", placeholder: "Email"%>


          <%= f.text_field :phone, class:"form-control text-area-box", placeholder: "Phone" %>

        <div class="form-group">
          <%= f.text_area :content, class:"form-control text-area-box", rows:"5"  %>
        </div>
        <button class="footer-submit-btn">Submit</button>
        <div style="padding-top: 15px; overflow: hidden;">
          <%= recaptcha_tags %>
        </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
