<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          About Us
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="welcome_to_refunction mb-margin-top-25 tablet-padding-bottom-0">
  <div class="container pages-card-padding tablet-padding-bottom-0">
    <div class="row">
      <p class="about-us-header">Welcome to Re:Function Health Group</p>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-mg-bottom">
        <%= image_tag("Refunction building.JPG", class:"about-us-building mb-about-us-building") %>
        <div style="font-size: 8px;opacity: 0.7;color: grey;">© Re:Function Health Group All Rights Reserved</div>
      </div>
      <div class="col-sm-6">
        <div id="accordion">
          <div class="card">
            <div class="card-header faq-card-top" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="bold font-size-medium">About Us</span>
                </button>
                <!-- <div class="highlight"></div> -->
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
              We are a group of like-minded health professionals dedicated to help clients overcome their challenges. Our goal is to improve function as we know this returns confidence, connectivity, purpose, happiness, and ultimately independence.
              </div>
            </div>
          </div>

          <div class="card faq-card-top">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Our Services
                </button>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                We provide a variety of treatment services to improve the lives of our clients. These can be singular or
    multidisciplinary in nature. The strength of our treatment services is realized through our collaborative
    goal setting process with our clients. We also provide objective assessment services that assist
    stakeholders to understand the functional implications of impairments and the relative abilities and
    limitations of our clients.
              </div>
            </div>
          </div>

          <div class="card faq-card-top">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Qualified Experts
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Our company has a lengthy history providing balanced, objective opinions regarding a client’s function
and care needs in the BC Supreme Court, at union arbitration hearings, and at the Workers’
Compensation Appeals Tribunal. We provide services for both plaintiffs and insurers. Our group of
expert clinicians have achieved advanced certifications in assessment processes and have a wealth of
testimony experience.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="message_from_director tablet-padding-top-0 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-12" style="padding-top: 72px;">
        <p class="we-care-about-you-header full-dp-none mb-text-center tablet-margin-padding-reset">Message From Our Director</p>
        <%= image_tag("quotation_mark_v2.png") %>
        <p class="font-white font-size-lg message_from_director_content mb-color-bl tablet-margin-padding-reset">
          Done well, teamwork is less about work and more about positive trajectory. This is our focus
          within our company and we use this frame of reference to assist our clients. Disabling
          circumstances can be challenging and we feel our teamwork is the key to helping our clients
          shift trajectories towards positive functional outcomes.
        </p>
        <h5 class="font-lb font-size-xlg mb-text-center">
          Chief Executive Officer
        </h5>
      </div>
      <!-- <div class="col-sm-2" style="padding-top: 72px;">
        <#%= image_tag("director.jpg") %>
      </div> -->
    </div>
  </div>
</div>

<div class="we_care_about_you pages-card-padding">
  <div class="container">
    <div class="row justify-content-center">
      <p class="we-care-about-you-header">We Care About You</p>
    </div>
    <div class="row">

      <div class="col-sm-4 mb-mg-bottom">
        <%= image_tag("Care.jpg", class:"mb-width-100", style:"max-height: 230px") %>
        <div class="about-us-card">
          <h5>Care</h5>
          <div class="highlight-thin" style="margin-bottom: 0px;"></div>
          <p class="card-text font-gray-on-white">
            Our therapeutic efforts and guidance focus on restoring functional independence. We feel health,happiness, security, freedom of ability, and meaningful purpose will improve when functional goals are achieved.
          </p>
        </div>
      </div>
      <div class="col-sm-4 mb-mg-bottom">
        <%= image_tag("Clarity.jpg", class:"mb-width-100", style:"max-height: 230px") %>
        <div class="about-us-card">
          <h5>Clarity</h5>
          <div class="highlight-thin" style="margin-bottom: 0px;"></div>
          <p class="card-text font-gray-on-white">
            We delineate function objectively so that our clients and customers can make informed decisions. We believe the cornerstones of this practice are impartiality, validity and reliability of measures, and lengthy, comprehensive examination processes.
          </p>
        </div>
      </div>
      <div class="col-sm-4 mb-mg-bottom">
        <%= image_tag("Collaboration.jpg", class:"mb-width-100", style:"max-height: 230px") %>
        <div class="about-us-card">
          <h5>Collaboration</h5>
          <div class="highlight-thin" style="margin-bottom: 0px;"></div>
          <p class="card-text font-gray-on-white">
            We believe we are better together. Connectivity amongst clinicians and partnership with our clientshelp us best identify problems, innovate, and achieve healthy outcomes. This is why we enjoy what we do.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
