<div class="admin-nav">
  <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg", class:"admin-logo") %>
  </a>
    <%= link_to "Log Out", logout_path, class:"btn admin-log-out-btn", method: :delete %>
</div>

<div class="container-fluid">
  <div class="row">

    <%= render 'layouts/admin_nav' %>


    <div class="admin-body col-sm-10" >
      <div class="admin-team-search-bar" style="min-height: 900px;">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-4">
              <h3>Visits Today</h3>
              <%= @visits_today %>
            </div>
            <div class="search-top col-sm-4">
              <h3>Visits in 7 Days</h3>
              <%= @visits_this_week %>
            </div>
            <div class="search-top col-sm-4">
              <h3>Visits in 30 Days</h3>
              <%= @visits_this_month %>
            </div>
            <div class="search-top col-sm-6">
              <h3>Device Type</h3>
              <%= pie_chart @visits.group(:device_type).count %>
            </div>
            <div class="search-top col-sm-6">
              <h3>Browser Type</h3>
              <%= pie_chart @visits.group(:browser).count %>
            </div>

            <div class="search-top col-sm-6">
              <ul>
                <h4> Last 20 Visits IP Address</h4>
                <% @visits_last_ten.each do |f| %>
                  <li><%= f.ip %></li>
                <% end %>
              </ul>
            </div>

            <div class="search-top col-sm-6">
              <ul>
                <h4> Last 20 Visits Landing Page</h4>
                <% @visits_last_ten.each do |f| %>
                  <li><%= f.landing_page %></li>
                <% end %>
              </ul>
            </div>

            <div class="search-top col-sm-12">
              <ul>
                <h4> Total Page Visits</h4>
                <% @b.each do |k, v| %>
                  <li><%= k %>: <%= v %></li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
