<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>

<div class="why_work_with_us pages-card-padding">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li><span class="current-listing-header">Kinesiologist Position</span>
                <span class="current-listing-header-sub">Lower Mainland & Nanaimo</span>
              </li>
              <li><span class="current-listing-header">Occupational Therapist</span>
                <span class="current-listing-header-sub">Lower Mainland</span>
              </li>
              <li><span class="current-listing-header">Occupational Therapist</span>
                <span class="current-listing-header-sub">Nanaimo</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <p class="show-header" style="padding-top: 0px">Why work with us?</p>
          <p class="show-font">
            We are a private practice company delivering functional assessment and community treatment services to a large
            variety of customers in the Lower Mainland and on Vancouver Island. We have extensive experience in vocational
            rehabilitation practice and medical legal consultancy. We can provide you with effective mentoring process to
            improve your skills in a supportive and collegial environment. Our practice group regularly employs reviews of
            evidenced based research to support our clinical procedures and opinions. We have established administration
            systems and resources to support your work in the private practice domain.
          </p>
        </div>

        <div class="row justify-content-between careers-featured-opening">
          <div class="col-sm-12" style="padding-left:0px; font-size: 1.4em; font-weight: 550;">
            <p style="margin-bottom: 0px;">Featured Openings</p>
          </div>
          <div class="col-sm-6 careers-box">
            <div class="row ">
              <div class="col-sm-5 careers-image" style="padding-left: 0px; padding-right: 0px;">
                <%= image_tag("oct_job.png", class:"mb-dp-none") %>
              </div>
              <div class="col-sm-7 reset" style="padding-left: 5px;padding-right: 0px;">
                <div class="card-body reset" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                  <div>
                    <span class="careers-posting-date">Posted June 30, 2018</span>
                  </div>
                  <div>
                    <span class="careers-posting-title bold">Kinesiologist</span>
                  </div>

                  <div class="highlight-thin careers-posting-highlight"></div>
                  <p class="card-text" style="font-size: 0.7em; margin-bottom: 3px;">We have an opportunity for a Kinesiologist to join our Lower Mainland group in either a full time
or part time contractor capacity.
                  </p>
                  <a href="/careers/1">Apply for this position</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 careers-box">
            <div class="row ">
              <div class="col-sm-5 careers-image" style="padding-left: 0px; padding-right: 0px;">
                <%= image_tag("oct_job.png", class:"mb-dp-none") %>
              </div>
              <div class="col-sm-7 reset" style="padding-left: 5px;padding-right: 0px;">
                <div class="card-body reset" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                  <div>
                    <span class="careers-posting-date">Posted June 30, 2018</span>
                  </div>
                  <div>
                    <span class="careers-posting-title bold">Occupational Therapist</span>
                  </div>

                  <div class="highlight-thin careers-posting-highlight"></div>
                  <p class="card-text" style="font-size: 0.7em; margin-bottom: 3px;">We have an opportunity for an Occupational Therapist to join our Lower Mainland group in either
a full time or part time contractor capacity.
                  </p>
                  <a href="#">Apply for this position</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <p style="padding-top: 10px; font-weight: 700;">Choose a position that you’re interested in applying</p>

            <select class="col-sm-12 input-box margin-bottom-11" style="height: 37px;">
              <option value="volvo">Occupational Therapist</option>
              <option value="saab">Physical Therapist</option>
              <option value="opel">Kinesiologist</option>
              <option value="audi">Kinesiologist</option>
            </select>

            <p style="padding-top: 10px; font-weight: 700;">Send your information and CV</p>
        </div>
        <div class="row">
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
            <input type="text" class="form-control input-box" placeholder="First name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Last name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0" >
            <input type="text" class="form-control input-box" placeholder="Email">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Phone">
          </div>
          <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
            <textarea class="form-control" style="height: 339px; width: 100%;" id="exampleFormControlTextarea1" placeholder="Leave us a message"></textarea>
          </div>
        </div>

          <div class="row">
            <div class="col-3" style="padding-left: 0px;">
              <button class="cta-see-team">Upload CV</button>
            </div>
            <div class="col-3">
              <button class="cta-see-team" style="width: 181px;">Submit</button>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
