<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>

<div class="why_work_with_us">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <li>Community Rehabilitation Services</li>
              <li>Physiotherapy Services</li>
              <li>Actve & Functional Conditioning Programs</li>
              <li>Psychology Assessment & Counselling Services</li>
              <li>Interdisciplinary Rehabilitation Assessments</li>
              <li>Functional Capacity Evaluations</li>
              <li>Cost of Future Care Evaluations</li>
              <li>Medical Legal Consultations</li>
              <li>Job Demand Analyses</li>
              <li>Ergonomic and Risk Factor Analyses</li>
              <li>Brain Injury Assessment and Treatment</li>
              <li>Return to Work Support</li>
              <li><a href="#">Visit the Services Page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <p class="show-header">Brain Injury Assessment and Treatment</p>
          <p class="show-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fermentum massa vel enim feugiat gravida. Phasellus velit
            risus, euismod a lacus et, maCs condimentum augue. Vivamus fermentum ex quis imperdiet sodales. Sed aliquam nibh tellus,
            a rutrum turpis pellentesque ac. Nulla nibh libero, :ncidunt cursus gravida ut, sodales ut magna. Sed sodales libero sapien,
            et rutrum mi placerat eget. Nulla ves:bulum lacus vel eros eleifend moles:e. Cras dapibus ullamcorper dictum. Vivamus nec erat
            placerat felis scelerisque porCtor in ac turpis. In nec imperdiet turpis. Suspendisse quis orci ut orci pulvinar eleifend. Nulla eu
            maCs ipsum. Integer eget sagiCs nulla. Praesent consectetur lacus et maximus eleifend. Integer non lacus dui. Mauris tortor,
            laoreet quis commodo vitae, sodales vel augue.
          </p>
        </div>

        <div class="row justify-content-between careers-featured-opening">
          <div class="col-sm-12">
            <h3>Featured Openings</h3>
          </div>
          <div class="col-sm-5 careers-box">
            <div class="row ">
              <div class="col-sm-4 careers-image" style="padding-left: 0px; padding-right: 0px;">
                <%= image_tag("refunction_home_services.png") %>
              </div>
              <div class="col-sm-8 reset" style="padding-left: 5px;padding-right: 0px;">
                <div class="card-body reset" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                  <div>
                    <span class="careers-posting-date">Posted June 30, 2018</span>
                  </div>
                  <div>
                    <span class="careers-posting-title bold">Occupational Therapists Needed</span>
                  </div>

                  <div class="highlight-thin careers-posting-highlight"></div>
                  <p class="card-text" style="font-size: 0.7em; margin-bottom: 3px;">Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <a href="#">Apply for this position</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-5 careers-box">
            <div class="row ">
              <div class="col-sm-4 careers-image" style="padding-left: 0px; padding-right: 0px;">
                <%= image_tag("refunction_home_services.png") %>
              </div>
              <div class="col-sm-8 reset" style="padding-left: 5px;padding-right: 0px;">
                <div class="card-body reset" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                  <div>
                    <span class="careers-posting-date">Posted June 30, 2018</span>
                  </div>
                  <div>
                    <span class="careers-posting-title bold">Occupational Therapists Needed</span>
                  </div>

                  <div class="highlight-thin careers-posting-highlight"></div>
                  <p class="card-text" style="font-size: 0.7em; margin-bottom: 3px;">Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                  <a href="#">Apply for this position</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <p>Choose a position that you’re interested in applying</p>
          <div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
