<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Careers
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>



<div class="why_work_with_us pages-card-padding mb-margin-top-40">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-xl-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Current Job Postings</h5>
            <div class="highlight"></div>
            <ul>
              <% @careers.each do |f| %>
              <li><span class="current-listing-header"><%= link_to "#{f.posting_position} Position", career_path(f) %> </span>
                <span class="current-listing-header-sub"><%= f.location %></span>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 offset-xl-1 col-xl-8 mb-margin-top-40">
        <div class="row">
          <p class="show-header" style="padding-top: 0px">Why work with us?</p>
          <p class="show-font">
            We are a private practice company delivering functional assessment and community treatment services to a large
            variety of customers in the Lower Mainland and on Vancouver Island. We have extensive experience in vocational
            rehabilitation practice and medical legal consultancy. We can provide you with effective mentoring process to
            improve your skills in a supportive and collegial environment. Our practice group regularly employs reviews of
            evidenced based research to support our clinical procedures and opinions. We have established administration
            systems and resources to support your work in the private practice domain.
          </p>
        </div>

        <div class="row justify-content-between careers-featured-opening">
          <div class="col-sm-12" style="padding-left:0px; font-size: 1.4em; font-weight: 550;">
            <p style="margin-bottom: 0px;">Featured Openings</p>
          </div>
          <% @careers.each do |f| %>
          <div class="col-sm-6 careers-box">
            <div class="row ">
              <div class="col-sm-5 careers-image" style="padding-left: 0px; padding-right: 0px;">
                <%= image_tag f.career.portrait_v2.url, class:"mb-dp-none" %>
                <!-- <#%= image_tag("oct_job.png", class:"mb-dp-none") %> -->
              </div>
              <div class="col-sm-7 reset" style="padding-left: 5px;padding-right: 0px;">
                <div class="card-body reset" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                  <div>
                    <span class="careers-posting-date">Posted <%= f.created_at.strftime("%m/%d/%Y") %></span>
                  </div>
                  <div>
                    <span class="careers-posting-title bold"><%= f.posting_position %></span>
                  </div>

                  <div class="highlight-thin careers-posting-highlight"></div>
                  <p class="card-text" style="font-size: 0.7em; margin-bottom: 3px;">
                    <%= f.preview_description %>
                  </p>

                  <%= link_to "Apply for this position", career_path(f) %>
                </div>
              </div>
          
            </div>
          </div>


          <% end %>

        </div>

        <div class="row">
          <p style="padding-top: 10px; font-weight: 700;">Choose a position that you’re interested in applying</p>

            <select class="col-sm-12 input-box margin-bottom-11" style="height: 37px;">
              <option value="volvo">Occupational Therapist</option>
              <option value="saab">Kinesiologist</option>
              <option value="opel">Physiotherapist</option>
              <option value="audi">Administration</option>
              <option value="audi">Clinical Counsellor</option>
              <option value="audi">Psychologist</option>
              <option value="audi">Other</option>
            </select>

            <p style="padding-top: 10px; font-weight: 700;">Send your information and CV</p>
        </div>
        <div class="row">
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
            <input type="text" class="form-control input-box" placeholder="First name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Last name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0" >
            <input type="text" class="form-control input-box" placeholder="Email">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Phone">
          </div>
          <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
            <textarea class="form-control" style="height: 339px; width: 100%;" id="exampleFormControlTextarea1" placeholder="Leave us a message"></textarea>
          </div>
        </div>

          <div class="row">
            <div class="col-3" style="padding-left: 0px;">
              <button class="cta-see-team">Upload CV</button>
            </div>
            <div class="col-3">
              <button class="cta-see-team" style="width: 181px;">Submit</button>
            </div>
          </div>
          <div clas="row" style="margin-left: -15px;">
            <div style="padding-top: 15px; width: 271px !important; overflow: hidden;">
              <%= recaptcha_tags %>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
