<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Careers
        </div>
        <div class="banner-top-deco-sub col-sm-12">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="why_work_with_us pages-card-padding mb-margin-top-40">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-xl-3">
        <div class="row justify-content-between">
          <div class="list_of_services_box">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
            <ul>
              <% @careers.each do |f| %>
              <li><span class="current-listing-header"><%= link_to "#{f.title} Position", career_path(f) %> </span>
                <span class="current-listing-header-sub"><%= f.location %></span>
              </li>
              <% end %>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 offset-xl-1 col-xl-8">

        <div class="row">
          <p class="show-header">
            <%= @career.title + "-" + @career.location %>
          </p>
          <p class="show-font">
          <%= raw(@career.description) %>
          </p>
        </div>


        <div class="row careers-featured-opening-empty">

        </div>

        <div class="row">
            <p style="padding-top: 10px; font-weight: 700;">Send your information and CV</p>
        </div>
        <div class="row">
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
            <input type="text" class="form-control input-box" placeholder="First name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Last name">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-left-0" >
            <input type="text" class="form-control input-box" placeholder="Email">
          </div>
          <div class="col-sm-6 margin-bottom-11 career-pd-right-0" >
            <input type="text" class="form-control input-box" placeholder="Phone">
          </div>
          <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
            <textarea class="form-control" style="height: 339px; width: 100%;" id="exampleFormControlTextarea1" placeholder="Leave us a message"></textarea>
          </div>
        </div>

          <div class="row">
            <div class="col-3" style="padding-left: 0px;">
              <button class="cta-see-team">Upload CV</button>
            </div>
            <div class="col-3">
              <button class="cta-see-team" style="width: 181px;">Submit</button>
            </div>
          </div>

          <div clas="row" style="margin-left: -15px;">
            <div style="padding-top: 15px; width: 271px !important; overflow: hidden;">
              <%= recaptcha_tags %>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
