<%= render "layouts/nav" %>

<div class="home_main_card">
  <div class="container">
    <div class="row tablet-section-height">
      <div class="col-sm-12 col-md-12 col-lg-6 home_cta_card main-margin">
        <p class="tag-line-top">Exceptional People.</p>
        <p class="tag-line-bottom">Exceptional Service.</p>
        <p class="tag-line-bottom-sub">Function is our Focus</p>
        <div class="highlight"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="row justify-content-center">
              <p>Looking for treatment?</p>
            </div>
              <a href="https://refunction.janeapp.com/" target="_blank"><div class="nav-cta-physio"> Book Physio/Counselling </div></a>
            <!-- <div class="nav-cta-physio"> Book Appointment </div> -->
          </div>
          <div class="col-md-6">
            <div class="row justify-content-center">
              <p>Referring someone?</p>
            </div>
            <a href="/referrals"><div class="nav-cta-referral"> Make a Service Referral</div></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row home_main_card_sub_cards ">
      <div class="col-sm-4 services-card bg-lb sc-mobile-top table-margin-top-0">
        <div class="card-body">
          <h5 class="card-title">Our Teams</h5>
          <div class="highlight-white"></div>
          <p class="card-text"> Our group of expert clinicians have achieved advanced certifications in assessment processes and have a wealth of testimony experience. </p>
          <a href="/our_teams">Read More</a>
        </div>
      </div>
      <div class="col-sm-4 services-card bg-db sc-mobile">
        <div class="card-body">
          <h5 class="card-title">Our Services</h5>
          <div class="highlight-white"></div>
          <p class="card-text">We provide a variety of treatment services to improve the lives of our clients.  These can be singular or multidisciplinary in nature.</p>
          <a href="/services">Read More</a>
        </div>
      </div>
      <div class="col-sm-4 services-card bg-black sc-mobile">
        <div class="card-body">
          <h5 class="card-title">Contact Us</h5>
          <div class="highlight-white"></div>
          <p class="card-text">We can consistently deliver effective assessment and treatment services through the combined efforts of our clinical and administrative teams.</p>
          <a href="/about_us">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how_we_can_help">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="bold how_we_can_help_title">How we can help you</h1>
    </div>
    <div class="row justify-content-center font-gray pd-bottom-31 mg-bottom-15">
      <p class="font-gray mb-text-center">We all need assistance from time to time. Let us put our skills to work so you can Re:Function.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center mg-top-50">
        <i class="fas fa-search mb-fa-index" style="font-size: 56px"></i>
        <h3>Re:<span class="font-lb">View</span></h3>
          <div>
            <div class="blue-dot"></div> <a href="/services/9" class="font-black">MedLegal Functional Capacity Evaluations</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/6" class="font-black">Cost of Future Care Assessments</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/12" class="font-black">MedLegal File Reviews</a>
          </div>
      </div>
      <div class="col-sm-6 text-center mg-top-50">
        <i class="fas fa-wrench mb-fa-index" style="font-size: 56px"></i>
        <h3>Re:<span class="font-lb">Tool</span></h3>
          <div>
            <div class="blue-dot"></div> <a href="/services/9" class="font-black">Functional Capacity Evaluations</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/14" class="font-black">Return to Work Support</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/8" class="font-black">Ergonomic Assessments</a>
          </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-center mg-top-50">
        <i class="fas fa-hammer mb-fa-index" style="font-size: 56px"></i>
        <h3>Re:<span class="font-lb">Build<span></h3>
          <div>
            <div class="blue-dot"></div> <a href="/services/13" class="font-black">Physiotherapy</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/5" class="font-black">Community Rehabilitation Services</a>
           <br>
            <div class="blue-dot"></div> <a href="/services/10" class="font-black">Interdisciplinary Rehabilitation Services</a>
          </div>
      </div>
      <div class="col-sm-6 col-xs-6 text-center mg-top-50">
        <%= image_tag("noun-brain.png", class:"flip-image", style:"width: 62px; ") %>
        <!-- <i class="fas fa-brain mb-fa-index" style="font-size: 56px"></i> -->
        <h3>Re:<span class="font-lb">Think</span></h3>
        <div>
          <div class="blue-dot"></div> <a href="/services/3" class="font-black">Counselling Services</a>
         <br>
          <div class="blue-dot"></div> <a href="/services/3" class="font-black">Psychology Services</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="our_services main-card-padding mb-side-pd">
  <div class="container">
    <div class="row justify-content-between align-items-center ">
      <div class="list_of_services_box full">
        <h5>Learn about our services</h5>
        <div class="highlight"></div>
        <ul>
          <li><a href="/services/9">Functional Capacity Evaluations</a></li>
          <li><a href="/services/6">Cost of Future Care Evaluations</a></li>
          <li><a href="/services/12">Medical Legal Consultations</a></li>
          <li><a href="/services/5">Community Rehabilitation Services</a></li>
          <li><a href="/services/3">Psychology Assessment and Counselling Services</a></li>
          <li><a href="/services/13">Physiotherapy Services</a></li>
          <li><a href="/services/1">Active & Functional Conditioning Programs</a></li>
          <li><a href="/services/10">Interdisciplinary Rehabilitation Assessments</a></li>
          <li><a href="/services/11">Job Demands Analyses</a></li>
          <li><a href="/services/8">Ergonomic and Risk Factor Analyses</a></li>
          <li><a href="/services">Visit the Services Page</a></li>
        </ul>
      </div>

      <div class="list_of_services_box list_of_services_box_tablet ">
        <div class="row">
          <div class="col-sm-12">
            <h5>Learn about our services</h5>
            <div class="highlight"></div>
          </div>
        </div>
        <div class= "row">
          <div class="col-sm-6">

            <ul>
              <li><a href="/services/9">Functional Capacity Evaluations</a></li>
              <li><a href="/services/6">Cost of Future Care Evaluations</a></li>
              <li><a href="/services/12">Medical Legal Consultations</a></li>
              <li><a href="/services/5">Community Rehabilitation Services</a></li>
              <li><a href="/services/3">Psychology Assessment and Counselling Services</a></li>
              <li><a href="/services/13">Physiotherapy Services</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul>

              <li><a href="/services/1">Active & Functional Conditioning Programs</a></li>
              <li><a href="/services/10">Interdisciplinary Rehabilitation Assessments</a></li>
              <li><a href="/services/11">Job Demands Analyses</a></li>
              <li><a href="/services/8">Ergonomic and Risk Factor Analyses</a></li>
              <li><a href="/services">Visit the Services Page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-dp-none" style="width: 15rem;">
        <!-- <img class="card-img-top" src="/images/home_logov2.png" alt="Card image cap"> -->
        <%= image_tag("Physiotherapy_services.jpg", class:"card-img-top") %>
        <div style="font-size: 8px;opacity: 0.6;">© Re:Function Health Group All Rights Reserved</div>
        <div class="card-body">
          <h5>Physiotherapy Services</h5>
          <div class="highlight-thin"></div>
          <p class="card-text ">
            Private treatment rooms and spacious gymnasiums allow for optimal impairment recovery,
          </p>
          <a href="/services/13">Learn More</a>
        </div>
      </div>

      <div class="card mb-dp-none" style="width: 15rem;">
        <%= image_tag("community rehabilitation_v2.jpg", class:"card-img-top") %>
        <div style="font-size: 8px;opacity: 0.6;">© Re:Function Health Group All Rights Reserved</div>
        <div class="card-body">
          <h5>Community Rehabilitation</h5>
          <div class="highlight-thin"></div>
          <p class="card-text">The Community Rehabilitation team assists clients with physical and cognitive disabilities
          </p>
          <a href="/services/5">Learn More</a>
        </div>
      </div>

      <div class="card mb-dp-none" style="width: 15rem;">
        <%= image_tag("Counselling.jpg", class:"card-img-top") %>
        <div style="font-size: 8px;opacity: 0.6;">© Re:Function Health Group All Rights Reserved</div>
        <div class="card-body">
          <h5>Clinical Counselling Services </h5>
          <div class="highlight-thin"></div>
          <p class="card-text ">Clinical counselling services that can help clients explore, reduce or eliminate the barriers
          </p>
          <a href="/services/12">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="what_our_clients_say">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="mb-font-black title bold">What Our Clients Say</h2>
    </div>
    <div class="row">


      <div id="carouselExampleIndicators" class="carousel slide full-dp-none tablet-dp-none" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-top">
                  <div class="row align-items-center mb-pd-left-21">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                      <div class="row">
                        <span class="card-top-desc">Vanessa Adams</span>
                      </div>
                      <div class="row">
                        <span class="card-top-desc-sub">Director of Operations</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" style="">
                  <%= image_tag("quotation_mark_blue.png", class:"mg-right-13") %>
                  <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-top">
                  <div class="row align-items-center mb-pd-left-21">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                      <div class="row">
                        <span class="card-top-desc">Vanessa Adams</span>
                      </div>
                      <div class="row">
                        <span class="card-top-desc-sub">Director of Operations</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <%= image_tag("quotation_mark_blue.png", class:"mg-right-13") %>
                  <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-top">
                  <div class="row align-items-center mb-pd-left-21">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                      <div class="row">
                        <span class="card-top-desc">Vanessa Adams</span>
                      </div>
                      <div class="row">
                        <span class="card-top-desc-sub">Director of Operations</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <%= image_tag("quotation_mark_blue.png", class:"mg-right-13") %>
                  <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <% @published_testimonials.each do |f| %>
      <div class="col-sm-4 mb-dp-none">
        <div class="card">
          <div class="card-top">
            <div class="row align-items-center mb-pd-left-21">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <span class="card-top-desc"><%= f.first_name %> <%= f.last_name %></span>
                </div>
                <div class="row">
                  <span class="card-top-desc-sub"><%= f.title %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="border: 1px solid #35B4E6;">
            <%= image_tag("quotation_mark_blue.png", class:"mg-right-13") %>
            <span class="card-text"><%= truncate(f.description, length: 250) %> </span>
          </div>
        </div>
      </div>
      <% end %>


      <% @published_testimonials.first(2).each do |f| %>
      <div class="col-sm-6 mb-dp-none tablet-dp-show tablet-dp-none full-dp-none">
        <div class="card">
          <div class="card-top">
            <div class="row align-items-center mb-pd-left-21">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <span class="card-top-desc"><%= f.first_name %> <%= f.last_name %></span>
                </div>
                <div class="row">
                  <span class="card-top-desc-sub"><%= f.title %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="border: 1px solid #35B4E6;">
            <%= image_tag("quotation_mark_blue.png", class:"mg-right-13") %>
            <span class="card-text"><%= truncate(f.description, length: 250) %> </span>
          </div>
        </div>
      </div>
      <% end %>


      <!-- <div class= "col-sm-4">
        <div class="card">
          <div class="card-top">
            <div>
              <%= image_tag("profile.png") %>
              <span>Vanessa Adams</span>
              <span>Office Cleaner</span>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div> -->


    </div>
  </div>

        <div class="row justify-content-center padding-top-50" style="padding-bottom: 20px; width: 100%; margin-right: 0px; margin-left: 0px;">
          <a href="/testimonials"><div class="cta-see-team"> Read More </div></a>
        </div>

</div>

<div class="numbers main-card-padding-sm">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 col-lg-2">
        <div class="row justify-content-center">
          <p class="title">6,941</p>
        </div>
        <div class="row justify-content-center">
          <p class="body" style="text-align: center;">Clients Re:Functioning</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="row justify-content-center">
          <p class="title">7</p>
        </div>
        <div class="row justify-content-center">
          <p class="body">Clinic Locations</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="row justify-content-center">
          <p class="title">8,029</p>
        </div>
        <div class="row justify-content-center">
          <p class="body">FCE's</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="row justify-content-center">
          <p class="title">19</p>
        </div>
        <div class="row justify-content-center">
          <p class="body">Years in Business</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-2">
        <div class="row justify-content-center">
          <p class="title">53</p>
        </div>
        <div class="row justify-content-center">
          <p class="body">Team Members</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="our_team main-card-padding">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="title bold">Our Team</h2>
    </div>
    <div class="row justify-content-center padding-bottom-50">
      <p class="font-gray"> Some of the friendly faces behind Re:Function</p>
    </div>
    <div class="row">
      <% @featured_teams.each do |f| %>
      <div class= "col-md-6 col-lg-6 col-xl-3 col-xs-8 mb-mg-bottom mobile-our-team-card">
        <div class="card">
          <!-- <#%= image_tag f.image.url, class:"img-fluid" %> -->
          <%= image_tag f.image.url, class:"img-fluid border-color min-height-profile" %>
          <div class="card-body" style="min-height: 220px;">
            <span class="font-lb bold"><%= f.first_name %> <%= f.last_name %></span>
            <p class="card-text font-size-sm"><%= f.title %></p>
            <p class="card-text font-size-sm"><%= f.occupation %></p>
            <%= link_to "Learn More", admin_team_path(f) %>
          </div>
        </div>
      </div>
    <% end %>




    </div>

    <div class="row justify-content-center padding-top-50">
      <a href="/our_teams"><div class="cta-see-team"> See the rest of the team </div></a>
    </div>
  </div>
</div>

<div class="faqs main-card-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row justify-content-center">
          <h5>Physiotherapy FAQ</h5>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header faq-card-top" id="headingOne">
              <h5 class="mb-0">
                <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
                  <span class="font-size-medium" style="word-wrap: break-word; color: #19B2EB; cursor: pointer;"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What can I expect during my first Physiotherapy assessment?</span>
                <!-- </button> -->

              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-indent">
                Initial assessments are 45 minutes in length, during which time a Physiotherapist will take a thorough history and perform an objective exam of the affected area. A treatment plan will then be formulated and implemented with your goals in mind.
              </div>
            </div>
          </div>

          <div class="card faq-card-top">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> -->
                  <span class="font-size-medium" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="word-wrap: break-word; color: #19B2EB; cursor: pointer;">How should I prepare for my initial visit?</span>
                <!-- </button> -->
              </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body faq-indent">
                Please arrive 10 minutes before your assessment wearing comfortable, loose-fitting clothing. Please bring your <strong>Personal Health Number</strong> and the following additional information, if needed, for your initial visit:
                <br>
                <strong style="padding-left: 30px;">Extended Health Clients:</strong> Please bring your insurance card.
                <br>
                <strong style="padding-left: 30px;">ICBC Clients:</strong> Please bring your claim number.
                <br>
                <strong style="padding-left: 30px;">WSBC Clients:</strong> Please bring your claim number and date of injury.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header faq-card-top" id="headingThree">
              <h5 class="mb-0">
                <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> -->
                  <span class="font-size-medium" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="word-wrap: break-word; color: #19B2EB; cursor: pointer;">Do I need a Doctor’s referral to see a Physiotherapist?</span>
                <!-- </button> -->
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-indent">
                No. Physiotherapists are primary health care practitioners who are trained to diagnosis and treat your impairment. We welcome walk-in patients at both our Richmond and Surrey locations.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header faq-card-top" id="headingFour">
              <h5 class="mb-0">
                <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> -->
                  <span lass=" font-size-medium" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="word-wrap: break-word; color: #19B2EB; cursor: pointer;">Do you direct bill to third-party insurance providers?</span>
                <!-- </button> -->
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body faq-indent">
                Yes, we are able to direct bill to all major third-party providers. Please bring your insurance card with you for your initial assessment.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header faq-card-top" id="headingFive">
              <h5 class="mb-0">
                <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> -->
                  <span class=" font-size-medium" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="word-wrap: break-word; color: #19B2EB; cursor: pointer;">What is your cancellation policy?</span>
                <!-- </button> -->
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body faq-indent">
                We require a minimum of 24 hours notice for any cancellations or changes to appointments. Patients who provide less than 24 hours notice for a missed appointment will be charged a cancellation fee equal to 50% of the missed appointment fee.
              </div>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>

<div class="footer main-card-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xl-3 col-lg-12">
        <h5 class="bold">Contact Information</h5>
        <div class="highlight-small"></div>
        <ul>
          <li><a href="https://www.google.com/maps/place/21300+Gordon+Way,+Richmond,+BC+V6W+1J8/@49.166436,-122.987695,16z/data=!4m5!3m4!1s0x5485df362b3f5cb1:0x28e783c3398af216!8m2!3d49.1664355!4d-122.9876951?hl=en-CA", style="color: gray">148 – 21300 Gordon Way, Richmond, BC V6W 1M2</a></li>
          <li><a href="tel:+1604-233-2210" style="color: gray">Tel: 604.233.2210</a></li>
          <li><a href="tel:+1604-233-2211" style="color: gray">Fax: 604.233.2211</a></li>
          <li><a href="mailto:info@refunction.ca" style="color: gray">Email: info@refunction.ca</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-xl-3 col-lg-12 mb-margin-top-25">
        <h5 class="bold">Locations</h5>
        <div class="highlight-small"></div>
        <ul>
          <li><span class="dot"></span><a href="contacts" style="color: grey">Richmond: Head Office</a></li>
          <li><span class="dot"></span><a href="surrey" style="color: grey">Surrey Clinic</a></li>
          <li><span class="dot"></span><a href="vancouver" style="color: grey">Vancouver Clinic</a></li>
          <li><span class="dot"></span><a href="coquitlam" style="color: grey">Coquitlam Clinic</a></li>
          <li><span class="dot"></span><a href="abbotsford" style="color: grey">Abbotsford Clinic</a></li>
          <li><span class="dot"></span><a href="victoria" style="color: grey">Victoria Clinic</a></li>
          <li><span class="dot"></span><a href="nanaimo" style="color: grey">Nanaimo Clinic</a></li>
        </ul>
      </div>
      <div class="col-sm-6  col-xl-6 col-lg-12 mb-margin-top-25">
        <%= form_for(@admin_enquiry) do |f| %>
        <h5 class="bold">Contact Us</h5>
        <div class="highlight-small"></div>

          <%= f.text_field :first_name, class:"form-control text-area-box", placeholder: "Name" %>


          <%= f.text_field :email, class:"form-control text-area-box", placeholder: "Email"%>


          <%= f.text_field :phone, class:"form-control text-area-box", placeholder: "Phone" %>

        <div class="form-group">
          <%= f.text_area :content, class:"form-control text-area-box", rows:"5"  %>
        </div>
        <button class="footer-submit-btn">Submit</button>
        <div style="padding-top: 15px; overflow: hidden;">
          <%= recaptcha_tags %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
