<div class="container-fluid main-container">
  <div class="row print-firefox">
    <div class="col-sm-12" >
      <div class="" style="min-height: 900px;">
        <div class="container-fluid">
          <div class="row  print-firefox pdt-0">
            <div class="col-sm-12">
              <div class="row print-firefox" style="page-break-after: always;">
                <div class="col-sm-12 margin-bottom-11 career-pd-left-0 pt-1">
                  <p class="print-firefox-fontsize" style="font-size: 30px; font-weight: 800;">REFERRAL SOURCE INFORMATION</p>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Category</p>
                  <div class="form-control">
                    <%= @referral.category %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Lawyer Name </p>
                  <div class="form-control">
                    <%= @referral.rs_name %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Lawyer Phone #</p>
                  <div class="form-control">
                    <%= @referral.rs_phone %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Lawyer Fax #</p>
                  <div class="form-control">
                    <%= @referral.rs_fax %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Lawyer Email</p>
                  <div class="form-control">
                    <%=  @referral.rs_email %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Law Firm Name</p>
                  <div class="form-control">
                    <%=  @referral.rs_office_name %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Law Office Address</p>
                  <div class="form-control">
                    <%=  @referral.rs_office_address %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>City</p>
                  <div class="form-control">
                    <%=  @referral.rs_city %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Postal Code</p>
                  <div class="form-control">
                    <%=  @referral.rs_postal_code %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Assistant/Paralegal Name</p>
                  <div class="form-control">
                    <%=  @referral.rs_assistant_name %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Assistant/Paralegal phone</p>
                  <div class="form-control">
                    <%=  @referral.rs_assistant_phone %>
                  </div>
                </div>


                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Assistant/Paralegal Email</p>
                  <div class="form-control">
                    <%=  @referral.rs_assistant_email %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0 mgb-1">
                  <p>Do you represent Plaintiff or Defence?</p>
                  <div class="form-control">
                    <%=  @referral.rs_represents %>
                  </div>
                </div>
                
              </div>

              <div class="row mt-4 print-firefox" style="page-break-after: always;">
                <div class="col-sm-12 margin-bottom-11 career-pd-left-0">
                  <p class="print-firefox-fontsize" style="font-size: 30px; font-weight: 800;">CLIENT INFORMATION</p>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Client Name (include English name, where applicable)</p>
                  <div class="form-control">
                    <%= @referral.client_name %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Date of Birth</p>
                  <div class="form-control">
                  <% if @referral.client_birthday != nil %>
                    <%= (@referral.client_birthday).strftime("%B %d, %Y") %>
                  <% end %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Client Address </p>
                  <div class="form-control">
                    <%= @referral.client_address %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>City</p>
                  <div class="form-control">
                    <%=  @referral.client_city %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Postal Code</p>
                  <div class="form-control">
                    <%= @referral.client_postal_code %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Claim/File No</p>
                  <div class="form-control">
                    <%= @referral.client_file_number %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Report Deadline</p>
                  <div class="form-control">
                  <% if @referral.client_report_deadline != nil %>
                      <%=  @referral.client_report_deadline.strftime("%B %d, %Y")%>
                    <% end %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Trial Date</p>
                  <div class="form-control">
                    <% if @referral.client_trial_date != nil %>
                      <%=  @referral.client_trial_date.strftime("%B %d, %Y")%>
                    <% end %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Trial Duration</p>
                  <div class="form-control">
                    <%= @referral.client_trial_duration_in_days %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Date Of Injury</p>
                  <div class="form-control">
                    <% if @referral.client_date_of_injury != nil %>
                      <%=  @referral.client_date_of_injury.strftime("%B %d, %Y")%>
                    <% end %>
                  </div>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Is an Interpreter Required?</p>
                  <div class="form-control">
                    <%=  @referral.client_interpreter_required %>
                  </div>
                </div>

                <div class="col-sm-4 margin-bottom-11 career-pd-left-0" style="page-break-after: always;">
                  <p>If Yes, Language Required</p>
                  <div class="form-control">
                    <%=  @referral.client_language_required %>
                  </div>
                </div>  

                <div class="col-sm-12 margin-bottom-11 career-pd-left-0 print-show" style="display: none;">
                  <p class="print-firefox-fontsize" style="font-size: 30px; font-weight: 800;">CLIENT INFORMATION</p>
                </div>

                <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p>Client Gender</p>
                  <div class="form-control">
                    <%= @referral.client_sex %>
                  </div>
                </div>

               <!-- <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                  <p> Client Gender(other)</p>
                  <div class="form-control">
                    <%#= @referral.client_sex_other %>
                  </div>
                </div> -->
                
                <div class="col-sm-12 margin-bottom-11 career-pd-left-0">
                  <p>Will a rebuttal report be required, or only a verbal opinion/aid with trial prep?</p>
                  <div class="form-control">
                    <%=  @referral.client_rebuttal_needed %>
                  </div>
                </div>

                <div class="col-sm-12 margin-bottom-11 career-pd-left-0">
                  <p>Please provide a list of reports to be reviewed, along with their corresponding clinicians?</p>
                  <div class="form-control", style="word-wrap: break-word; min-height: 400px;">
                    <%=  @referral.concerns %>
                  </div>
                </div>
                
            </div>

            <div class="row mt-4">
              <div class="col-sm-12 margin-bottom-11 career-pd-left-0">
                <p class="print-firefox-fontsize" style="font-size: 30px; font-weight: 800;">Extra Information</p>
              </div>


              <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                <p>Advertising</p>
                <div class="form-control">
                  <%= @referral.advertisement %>
                </div>
              </div>

              <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
                <p>Advertising Additional Info</p>
                <div class="form-control">
                  <%= @referral.client_advertisement_other %>
                </div>
              </div>
              
              <div class="col-sm-12 margin-bottom-11 career-pd-left-0">
                <p>Additional Comment</p>
                <div class="form-control" style="word-wrap: break-word; min-height: 400px;">
                  <%= @referral.content %>
                </div>
              </div>


              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
