<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>

<div class="container main-card-padding-sm">
  <div class="row">

    <div class="col-sm-3">
      <div class="row justify-content-between">
        <div class="list_of_services_box padding-right-100">
          <h5>Locations</h5>
          <div class="highlight"></div>
          <ul>
            <li><a href="/contacts">Richmond: Head Office</a></li>
            <li><a href="/surrey">Surrey Clinic</a></li>
            <li><a href="/vancouver">Vancouver Clinic</a></li>
            <li><a href="/coquitlam">Coquitlam Clinic</a></li>
            <li><a href="/abbotsford">Abbotsford Clinic</a></li>
            <li><a href="/victoria">Victoria Clinic</a></li>
            <li><a href="/nanaimo">Nanaimo Clinic</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="offset-sm-1 col-sm-8">
      <div class="row">
        <p class="page-headers">Surrey Office</p>
        <div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="640" height="229" id="gmap_canvas" src="https://maps.google.com/maps?q=Suite%20505%20-%2013737%2096th%20Avenue&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">mojo wordpress themes adsense</a></div><style>.mapouter{text-align:right;height:229px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:229px;width:640px;}</style></div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Book an appointment by form</p>
            </div>
            <div class="row">
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="First name">
              </div>
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Email">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Desired time and date">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" style="height: 339px" id="exampleFormControlTextarea1" rows="3" placeholder="Leave us a message"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Where you can find us</p>
            </div>
            <div>
              <a href="">Surrey Office</a>
            </div>

            <div class="mg-top-20">
              Suite 505 - 13737 96th Avenue
            </div>
            <div>
              Surrey, BC V3V 0C6
            </div>
            <div>
              Tel: 604-233-2210
            </div>
            <div>
              Fax: 604-233-2211
            </div>
            <div>
              Email: info@refunction.ca
            </div>
            <div class="mg-top-20">
              Access
            </div>
            <div>
              <div class="blue-dot"></div>Our Surrey clinic is located right across from Surrey Memorial Hospital.
            </div>
            <div>
              <div class="blue-dot"></div>Entrance to the clinic is located on 96th Avenue
            </div>
            <div>
              <div class="blue-dot"></div>Proceed to elevator and press button for 5th floor
            </div>
            <div class="mg-top-20">
              Wheelchair Accessible
            </div>
            <div>
              <div class="blue-dot"></div>Elevator access
            </div>
            <div>
              <div class="blue-dot"></div>Wheelchair accessible
            </div>
            <div class="mg-top-20">
              Transportation
            </div>
            <div>
              <div class="blue-dot"></div>2 bus stops in close proximity to our clinic
            </div>
            <div>
              <div class="blue-dot"></div>King George Skytrain Station is within walking distance
            </div>
            <div>
              <div class="blue-dot"></div>Walking distance to restaurants and pharmacy
            </div>

            <div class="mg-top-20">
              Parking
            </div>
            <div>
              <div class="blue-dot"></div>We have 4 free parking stalls allocated for clients on P4 in stalls 513, 514, 527 & 528
            </div>
            <div>
              <div class="blue-dot"></div>There is plenty of underground pay parking
            </div>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-3">
            <button class="cta-see-team" style="width: 181px;">Submit</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
