<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>
<%= render "layouts/breadcrumb" %>

<div class="container main-card-padding-sm">
  <div class="row">

    <div class="col-sm-3">
      <div class="row justify-content-between">
        <div class="list_of_services_box padding-right-100">
          <h5>Locations</h5>
          <div class="highlight"></div>
          <ul>
            <li><a href="/contacts">Richmond: Head Office</a></li>
            <li><a href="/surrey">Surrey Clinic</a></li>
            <li><a href="/vancouver">Vancouver Clinic</a></li>
            <li><a href="/coquitlam">Coquitlam Clinic</a></li>
            <li><a href="/abbotsford">Abbotsford Clinic</a></li>
            <li><a href="/victoria">Victoria Clinic</a></li>
            <li><a href="/nanaimo">Nanaimo Clinic</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="offset-sm-1 col-sm-8">
      <div class="row">
        <p class="page-headers">Victoria Office</p>
        <div>
          <div class="mapouter"><div class="gmap_canvas"><iframe width="640" height="229" id="gmap_canvas" src="https://maps.google.com/maps?q=1037%20Cloverdale%20Ave%20%23100&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">mojo wordpress themes adsense</a></div><style>.mapouter{text-align:right;height:229px;width:640px;}.gmap_canvas {overflow:hidden;background:none!important;height:229px;width:640px;}</style></div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Book an appointment by form</p>
            </div>
            <div class="row">
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="First name">
              </div>
              <div class="col-sm-6 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Email">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Desired time and date">
              </div>
              <div class="col-sm-12 margin-bottom-11">
                <input type="text" class="form-control input-box" placeholder="Department">
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" style="height: 339px" id="exampleFormControlTextarea1" rows="3" placeholder="Leave us a message"></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <p class="section-desc">Where you can find us</p>
            </div>
            <div>
              <a href="">Victoria Office</a>
            </div>

            <div class="mg-top-20">
              Suite 100 – 1037 Cloverdale Avenue
            </div>
            <div>
              Victoria, BC V8X 2T4
            </div>
            <div>
              Tel: 1-800-350-4225
            </div>
            <div>
              Fax: 1-604-233-2211
            </div>
            <div>
              Email: info@refunction.ca
            </div>
            <div class="mg-top-20">
              Entrance
            </div>
            <div>
              <div class="blue-dot"></div>Office accessed through front of building
            </div>
            <div>
              <div class="blue-dot"></div>Walking distance to Thrifty’s and Halibut House restaurant
            </div>
            <div class="mg-top-20">
              Wheelchair Accessible
            </div>
            <div>
              <div class="blue-dot"></div>Wheelchair accessible ramp at front door
            </div>
            <div>
              <div class="blue-dot"></div>Level-entry front door access
            </div>
            <div>
              <div class="blue-dot"></div>Bus stops on Quadra or Blanshard streets with short walk to building
            </div>
            <div class="mg-top-20">
              Parking
            </div>
            <div>
              <div class="blue-dot"></div>Visitor parking beside the building
            </div>
            <div>
              <div class="blue-dot"></div>Walk to front door / main entrance of building
            </div>
            <div class="mg-top-20">
              Directions
            </div>
            <div>
              <div class="blue-dot"></div>From Downtown Victoria – Drive north on Blanshard Street; Turn right on Cloverdale Avenue; building is located on right before Chevron service station
            </div>
            <div>
              <div class="blue-dot"></div>From Ferry terminal/Sidney/Saanich – Drive south on Hwy 17 (Pat Bay Hwy); turn left onto Cloverdale Avenue; building located on right before Chevron service station
            </div>
            <div>
              <div class="blue-dot"></div>From Langford/Colwood/Malahat area – Drive along Hwy 1, coming into town; turn left on Cloverdale Avenue; building located on right before Chevron service station
            </div>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-3">
            <button class="cta-see-team" style="width: 181px;">Submit</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
