<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Referral
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Temporary Popup -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding: 2rem;">
            <p class="font-black">Currently we are encouraging all clients who are ill or who are experiencing symptoms, such as a fever, trouble breathing, and/or coughing,to reschedule their appointments.
            <br>
            <br>
            For rescheduling FCE or CFC appointments, please phone <a href="tel:+1604-233-2210" style="color: #1BB2EB;">604.233.2210.</a>
            <br>
            For rescheduling PHYSIO appointments, please phone <a href="tel:+1778-732-1540" style="color: #1BB2EB;">778.732.1540.</a>
            <br>
            <br>
            During this time, we will be more understanding of late cancellations and rescheduling needs.</p>
                    <form>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <!-- Temporary Popup End -->


<div class="testimonials_container pages-card-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="page-desc">
        <h1>Re:Function Referral / Booking </h1>
      </div>
    </div>
    <div class="row justify-content-center margin-bottom-30">
      <div class="page-desc-sub">
        <p class="">Which service would you like to refer to/book an appointment for?</p>
      </div>
    </div>

     <% flash.each do |key, value| %>
      <div class="row">
        <div class="alert alert-<%= key %>"><%= value %></div>
      </div>
    <% end %>

    <%= render 'choose_your_plan' %>

  </div>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>

<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>