<%= render "layouts/nav" %>
<div class="banner_top_deco">
  <div class="banner-top-deco-inner-text">
    <div class="container" style="padding-bottom: 10px;">
      <div class="row mb-dp-none">
        <div class="banner-top-deco-header col-sm-12">
          Referral
        </div>
        <div class="banner-top-deco-sub col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>



<div class="testimonials_container pages-card-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="page-desc">
        <h1>Re:Function Referral</h1>
      </div>
    </div>
    <div class="row justify-content-center margin-bottom-30">
      <div class="page-desc-sub">
        <p class="">How can we help?</p>
      </div>
    </div>
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="alert alert-<%= key %>"><%= value %></div>
      </div>
    <% end %>
    <%= form_for @referral do |f| %>
    <div class="row">
      <div style="font-size: 16px;opacity: 0.7;color: grey;">Required boxes are indicated with *</div>
    </div>
    <div class="row">

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>I am inquiring about?</p>
          <%= f.select :category,  ["Active & Functional Conditioning", "Brain Injury Assessment and Treatment", "Community Rehabilitation Services", "Cost of Future Care Assessment","Ergonomic and Risk Factor Analysis", "Functional Capacity Evaluation", "FCE with Cognitive Component", "FCE with Cost of Future Care", "Home Assessment", "Interdisciplinary Rehabilitation Services", "Job Demands Analysis (JDA)", "Medical Legal File Review","Physiotherapy","Psychology Assessment and Counselling Services", "Return to Work Support Services", "Work Simulation", "Other"], {},{class: 'form-control input-box'} %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>* Client Name</p>
        <%= f.text_field :client_name, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>* Referral Person</p>
        <%= f.text_field :name, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Date of Birth</p>
        <%= f.date_field :client_birthday, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>* Company/Organization</p>
        <%= f.text_field :company, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Phone #</p>
        <%= f.text_field :client_phone, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Claim/File#</p>
        <%= f.text_field :claim_number, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Address</p>
        <%= f.text_field :client_address, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Address</p>
        <%= f.text_field :address, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client City</p>
        <%= f.text_field :client_city, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>* Referral Phone #</p>
        <%= f.text_field :phone, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Client Postal Code</p>
        <%= f.text_field :client_postal_code, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>* Referral Email</p>
        <%= f.text_field :email, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Date of Injury/Disability</p>
        <%= f.date_field :date_of_injury, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Referral Fax</p>
        <%= f.text_field :client_fax, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Language(s) Spoken</p>
        <%= f.text_field :client_language, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Relationship to Client</p>
        <%= f.text_field :realation_to_client, class:"form-control input-box" %>
      </div>

      <div class="col-sm-6 margin-bottom-11 career-pd-left-0">
        <p>Diagnosis/Medical Concerns</p>
        <%= f.text_field :concerns, class:"form-control input-box" %>
      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>Client is aware of referral</p>
        <form>
        <div class="radio-inline">
          <label><%= f.radio_button :client_aware, true %>Yes</label>
        </div>
        <div class="radio-inline">
          <label><%= f.radio_button :client_aware, false %>No</label>
        </div>
        </form>
      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>Sex of the Client</p>

        <div class="radio-inline">
          <label><%= f.radio_button :client_sex, "Male" %>Male</label>
        </div>
        <div class="radio-inline">
          <label><%= f.radio_button :client_sex, "Female" %>Female</label>
        </div>
        <div class="radio-inline">
          <label><%= f.radio_button :client_sex, "Ohter" %>Other</label>
        </div>

          <%= f.text_field :client_sex, class:"form-control input-box", placeholder: "If others please specify" %>

      </div>

      <div class="col-sm-3 margin-bottom-11 career-pd-left-0">
        <p>* How did you hear about us?</p>

        <%= f.select :advertisement,  ["Advertising", "Brochure", "Family/Friend","Health Care Provider", "Returning Customer", "Social Media","Word of Mouth", "Other"], {},{class: 'form-control input-box'} %>
        <%= f.text_field :client_advertisement_other, class:"form-control input-box", placeholder: "Please Specify" %>
      </div>

      <div class="form-group col-sm-12 career-pd-left-0 career-pd-right-0" >
        <%= f.text_area :content, class:"form-control", style: "height: 339px; width: 100%",
        placeholder: "Additional Comment" %>
      </div>

      <div class="row">
        <div class="col-3">
          <%= f.submit "Submit", class:"cta-see-team", style:"width: 181px; margin-bottom: 20px;" %>
        </div>
        <div class="col-12 padding-top: 15px; width: 271px !important; overflow: hidden;">
          <%= recaptcha_tags %>
        </div>

      </div>





  </div>
  <% end %>
</div>

<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
