<% if @admin_career.errors.any? %>
  <div id="error_explanation">
   <h2><%= pluralize(@admin_career.errors.count, "error") %> prohibited this career from being saved:</h2>

   <ul>
   <% @admin_career.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
  </div>
<% end %>

<%= form_for(@admin_career) do |f| %>
<div class="container card-inner-padding">
  <div class="row justify-content-between mg-left card-margin-bottom">
    <div>

      <%= f.label :career %><br>
      <%= f.file_field :career,  onchange:"readURL(this)"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
         <img id="img_prev" src="#" alt="Image Preview" />
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 margin-bottom-11" style="padding-left: 0px;">
          <%= f.text_field :title, class:"form-control input-box", placeholder: "Title" %>
        </div>
        <div class="col-sm-12 margin-bottom-11" style="padding-left: 0px;">
          <%= f.text_field :location, class:"form-control input-box", placeholder: "Location" %>
        </div>
        <!-- <div class="col-sm-12 margin-bottom-11" style="padding-left: 0px;">
          <#%= f.text_field :posting_position, class:"form-control input-box", placeholder: "Position tilte" %>
        </div> -->
        <div class="col-sm-12 margin-bottom-11" style="padding-left: 0px;">
          <%= f.text_field :type_of_job, class:"form-control input-box", placeholder: "Full Time or Part Time" %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 card-margin-top">
      <%= f.text_area :preview_description, :class => "form-control input-box", :rows => 5, :cols => 30 %>
    </div>
    <div class="col-sm-12 card-margin-top">
      <%= f.text_area :description, :class => "tinymce", :rows => 40, :cols => 30 %>
      <%= tinymce %>
    </div>
    <div class="col-sm-12 card-margin-top">
      <%= f.submit "Save", class:"admin-button-blue" %>
      <%= f.submit "Save & Publish", class:"admin-button-gray", value: "Save & Publish" %>
    </div>
  </div>
<% end %>
