<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>

<%= render 'filter' %>


<div class="our-teams pages-card-padding">
  <div class="container">
    <div class="row">
      <%= render 'side_link' %>
      <div class="col-sm-9">
        <p class="about-us-header">Re:Function Team</p>
        <div class="row">
          <% @teams.each do |f| %>
          <div class="col-sm-4 mg-bt-20">
            <div class="card">
              <%= image_tag f.image.portrait_v2.url %>
              <div class="card-body">
                <span class="font-lb bold"><%= f.first_name %> <%= f.last_name %></span>
                <p class="card-text font-size-sm"><%= f.title %></p>
                <p class="card-text font-size-sm"><%= f.occupation %></p>
                <%= link_to "Learn More", admin_team_path(f) %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="col-sm-4 mg-bt-20">
            <div class="card">
              <%= image_tag("Fortin_Chantelle.png") %>
              <div class="card-body">
                <span class="font-lb bold">Edgar Emnacen</span>
                <p class="card-text font-size-sm">BScOT, CWCE</p>
                <p class="card-text font-size-sm">Registered Occupational Therapist</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mg-bt-20">
            <div class="card">
              <%= image_tag("Choudhry_Rimsha.png") %>
              <div class="card-body">
                <span class="font-lb bold">Edgar Emnacen</span>
                <p class="card-text font-size-sm">BScOT, CWCE</p>
                <p class="card-text font-size-sm">Registered Occupational Therapist</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4 mg-bt-20">
            <div class="card">
              <%= image_tag("Emnacen_Edgar.png") %>
              <div class="card-body">
                <span class="font-lb bold">Edgar Emnacen</span>
                <p class="card-text font-size-sm">BScOT, CWCE</p>
                <p class="card-text font-size-sm">Registered Occupational Therapist</p>
                <a href="#">Learn More</a>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
