<div class="admin-nav">
  <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg", class:"admin-logo") %>
  </a>
  <%= link_to "Log Out", logout_path, class:"btn admin-log-out-btn", method: :delete %>

</div>

<div class="container-fluid">
  <div class="row">

    <%= render 'layouts/admin_nav' %>


    <div class="admin-body col-sm-10">
      <!-- <div class="admin-team-search-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-12">
              <p>New Member</p>
            </div>
          </div>

          <div class="row admin-search-padding">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-9 admin-search-bar-search">
                  <input type="text" class="form-control" placeholder="First name">
                  <div class="admin-search-bar-button">
                    <p class="admin-search-bar-desc"> Filter By Department </p>
                    <div class="container">
                      <div class="row justify-content-between">
                        <div class="admin-search-button col-sm-3">All</div>
                        <div class="admin-search-button col-sm-3">Office & Administration</div>
                        <div class="admin-search-button col-sm-3">All</div>
                        <div class="admin-search-button col-sm-3">All</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="admin-search-button"> Add New</div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div> -->
      <div class="offset-sm-9 col-sm-3">
        <a href="/admin_teams/new"><div class="admin-search-button mg-bottom"> Add New</div></a>
      </div>

      <div class="admin-card">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-12">
              <p class="pd-top-11">Published Members</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-between">

            <% @published_admin_teams.each do |f| %>
            <div class="col-sm-3">
              <div class="admin-staff-image-card">
                <div class="admin-staff-picture">
                  <% if f.image != nil %>
                    <%= image_tag f.image.portrait_v2.url %>
                  <% end %>
                  <!-- <#%= image_tag("admin-staff.jpg", class:"admin-staff-picture-image", style:"    width:256px;") %> -->
                </div>
                <div class="admin-staff-image-card-desc" style="min-height: 210px;">
                  <span class="card-desc"> <%= f.first_name %> <%= f.last_name %> </span>
                  <p>
                    <%= f.title %>
                  </p>
                  <p>
                    <%= f.occupation %>
                  </p>
                </div>
                <div class="admin-staff-image-button">
                    <%= link_to "Edit", edit_admin_team_path(f), class:"btn btn-primary" %>
                    <%= link_to "Archive", team_archive_path(f), class:"btn btn-success", method: :post %>
                    <%= link_to "Delete", admin_team_path(f), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="admin-card">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-12">
              <p class="pd-top-11">Archived Members</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-between">

            <% @archived_admin_teams.each do |f| %>
            <div class="col-sm-3">
              <div class="admin-staff-image-card">
                <div class="admin-staff-picture">
                  <% if f.image != nil %>
                    <%= image_tag f.image.portrait_v2.url %>
                  <% end %>
                  <!-- <#%= image_tag("admin-staff.jpg", class:"admin-staff-picture-image", style:"    width:256px;") %> -->
                </div>
                <div class="admin-staff-image-card-desc">
                  <span class="card-desc"> <%= f.first_name %> <%= f.last_name %> </span>
                  <p>
                    <%= f.title %>
                  </p>
                  <p>
                    <%= f.occupation %>
                  </p>
                </div>
                <div class="admin-staff-image-button">
                    <%= link_to "Edit", edit_admin_team_path(f), class:"btn btn-primary" %>
                    <%= link_to "Publish", team_archive_path(f), class:"btn btn-success", method: :post %>
                    <%= link_to "Delete", admin_team_path(f), class:"btn btn-danger", method: :delete , data: { confirm: 'Are you sure?' }%>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
