<%= render "layouts/nav" %>
<%= render "layouts/banner_top_deco" %>

<%= render 'our_teams/filter' %>

<div class="our-teams pages-card-padding">
  <div class="container">
    <div class="row">
      <%= render 'our_teams/side_link' %>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4 mg-bt-20">
            <div class="card">
              <%= image_tag @admin_team.image.portrait_v2.url %>
              <div class="card-body">
                <span class="font-lb bold"><%= @admin_team.first_name %> <%= @admin_team.last_name %></span>
                <p class="card-text font-size-sm"><%= @admin_team.title %></p>
                <p class="card-text font-size-sm"><%= @admin_team.occupation %></p>
              </div>
            </div>
          </div>
          <div class="col-sm-8 mg-bt-20">
            <p class="about-us-header" style="margin-bottom: 2px;"><%= @admin_team.first_name %> <%= @admin_team.last_name %>
            <br>
            <span class="font-lb font-title"><%= @admin_team.title %></span></p>
            <p class="card-text font-size-sm"><%= @admin_team.occupation %></p>
            <p>
              <%= raw(@admin_team.bio) %>
            </p>
            <div class="row padding-top-50">
              <%= link_to "Download CV", @admin_team.resume.url, class:"cta-see-team", target:"_blank" %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render "layouts/bottom_cta_card" %>
<%= render "layouts/footer" %>
