<div class="admin-nav">
  <a class="navbar-brand" href="#"><%= image_tag("refunction_nav_logo.svg", class:"admin-logo") %>
  </a>
    <%= link_to "Log Out", logout_path, class:"btn admin-log-out-btn", method: :delete %>
</div>

<div class="container-fluid">
  <div class="row">

    <%= render 'layouts/admin_nav' %>


    <div class="admin-body col-sm-10">
      <div class="admin-team-search-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="search-top col-sm-12">
              <p>Published Locations Posting</p>
            </div>
          </div>
          <div class="row admin-search-padding">
            <div class="col-sm-12">
              <div class="row">
                <div class="offset-sm-9 col-sm-3">
                    <a href="/locations/new"><div class="admin-search-button mg-bottom"> Add New</div></a>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <% @locations.each do |f| %>
                    <div class="col-sm-6 mg-bottom">
                      <div class="">
                        <div class="row">
                          <div class="col-sm-8 reset" style="padding-left: 5px;padding-right: 0px;">
                            <div class="card-body reset careers-box" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                              <div>
                                <span class="careers-posting-date"><%= f.address %></span>
                              </div>
                              <div>
                                <span class="careers-posting-title bold"><%= f.name %></span>
                              </div>

                              <div class="highlight-thin careers-posting-highlight"></div>
                              <p class="card-text text-pd-right" style="font-size: 0.7em; margin-bottom: 3px;"><%= raw(f.description) %>
                              </p>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="admin-staff-image-button">
                        <div class="btn btn-primary font-white">
                          <%= link_to "Edit", edit_location_path(f) %>
                        </div>

                        <div class="btn btn-danger font-white">
                          <%= link_to "Delete", locations_path(f), method: :delete, data: {confirm: "Are you sure?"} %>
                        </div>
                      </div>
                    </div>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






    </div>
  </div>
</div>
